<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= @page_title %></title>
	</head>
	<body onload="">
		<h1 class="banner">The R4R Music Store</h1>
		<%= @content_for_layout %>
		<br>
		<p>Copyright &copy; 2006, R4RMusic</p>
	</body>
</html>